node_modules/
.DS_Store
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/typesafe-local-storage.iml
/example/dist.example.js
/example/mix-manifest.json
/dist/
/.idea/workspace.xml
